/bower_components/
/node_modules/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml'
/build/
/vendor/*
/.idea/*
desktop.ini
/bin/
/bin/composer.phar
/app/SymfonyRequirements.php
/composer.lock
app/cache/volt/*
/public/app-assets/*